/* header下的时间选择器 */
ul.bar-time-selector{ list-style: none; margin: 0; height: 100%; width: 100%; margin: 0 auto; padding:0; }
ul.bar-time-selector > li {display: block; float: left; height: 100%; width: 30%; margin: 0 1% 0 1%; padding-top: 1%;
text-align: center;}
ul.bar-time-selector > li > a{ text-decoration: none; 
font-size: 1.2em; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: white;}
ul.bar-time-selector > li > a:hover{color: rgba(126, 119, 119, 0.904);}
ul.bar-time-selector > li > a.checked{color: rgba(126, 119, 119, 0.904);}


/* elements in content*/
div.block-briefnews{height:20%; width:100%; border-bottom: gray 2px solid;}
/* 这里的img的设置方式还得斟酌 */

/*
div.block-briefnews > div.img-wrapper {height:100%; width: 30%; position: relative; float:left;}
div.block-briefnews > div.img-wrapper > div.images{ height:0; width:100%; padding-bottom: 100%; position: relative;}
div.block-briefnews > div.img-wrapper > div.images  img{ position: absolute; top: 0; left: 0; width: 100%; height:100%;}
*/
div.block-briefnews > div.img-wrapper {height:100%; width: 30%; position: relative; float:left;}
div.block-briefnews > div.img-wrapper > div.images{ height:100%; width:100%; overflow: hidden;}
div.block-briefnews > div.img-wrapper > div.images  img{height: 100%;}

div.block-briefnews > div.content-wrapper {float:right; height:100%; width:70%;}
div.block-briefnews > div.content-wrapper > div.title{width: 92%; height: 50%; margin: 5% 0 5% 0 ;padding: 0 4% 0 4%; 
    color:gray; font-family:'MS Mincho', SimSun, 'Times New Roman'}
div.block-briefnews > div.content-wrapper > div.time{width: 100%; height: 20%; text-align:right;}

div.block-briefnews a, a:hover, a:focus{text-decoration: none; color:inherit;}
