<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='frame.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}" type="text/css"/>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <title>display</title>
    <script>

        /*
        json 中的数据：
            (1) 图片：图片的加载路径
            (2) 图片标题
            (3) 新闻的news_id，放在链接中使用
            (4) 新闻的日期：时间的格式是"%Y-%m-%d"
        */

        // 用json对象构建news_block
        function form_news_block(data){
            $.each(data, function(){                
            // 父元素"div.content"
            var foo = $("div.content");

            var $block = $("<div class='block-briefnews'></div>");
            // block中的img
            var $img = $("<div class='img-wrapper'>" + "    <div class='images'>" + 
                "<a class='news-detailed' href='detailed/" + this.detailed_url + " '><img src='" + this.img_url + "'/></a>" + 
                "</div>" + "</div>");
            $block.append($img);
            // 组成block中的内容页
            var $content = $("<div class='content-wrapper'></div>");
            var $title = $("<div class='title'><a class='news-detailed' href='detailed/" + 
                this.news_id + "'><p>" 
                + this.news_title + "</p></a></div>");
            var $time = $("<div class='time'>" + this.publish_date + "</div>");
            $content.append($title);
            $content.append($time);

            $block.append($content);
            foo.append($block);
             });
        }

        jQuery.support.cors = true;
        $(document).ready(function(){

            // 列表栏切换添加响应事件
            $("div.topbar a").click(function(event){
                event.preventDefault();
                
                var curTag = this.innerText;
                var checkedTag;
                //
                $.each($("div.topbar a"),function(){
                    if (this.className == "checked"){
                        this.className = "";
                        checkedTag = this.innerText;
                    }
                });
                this.className = "checked";
                
                // 然后再做ajax, 如果是同一个标签不做ajax
                if (curTag === checkedTag){
                    console.log("Same checked, so no update");
                    return;
                }

                $.ajax({
                    url: "easynews/show/index/" + this.innerText.toLowerCase(),
                    type: "GET",
                    dataType: "json",
                    success:function(data){
                        $("div.content").empty();
                        form_news_block(data);
                    },
                    error:function(){
                        console.log(url);
                    }
                });
            });
            

            // 移动设备访问调整margin
            if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){
                $("div.wrapper").css("margin","0");
            }

            // ajax请求后台的数据
            $.ajax({   
                url: "/easynews/show/index",
                type:"GET",
                dataType: "json",
                success:function(data){
                    form_news_block(data);   
                }
            })

        })

    </script>
</head>
<body>
    <div class="wrapper">
        <div class="interface">
            <div class="header">
                <span class="logo"> NHK news </span>
                <div class="switch-lists"></div>
            </div>
            <div class="topbar">
                <ul class="bar-time-selector">
                    <li><a href="#" class="checked">Recent</a></li>
                    <li><a href="#">Earlier</a></li>
                    <li><a href="#">Old</a></li>
                </ul>

            </div>
            <div class="content">
            </div>
            <!-- 底栏切换 -->
            <div class="userbar"> 
                <ul>
                    <li>
                        <div class="icon-block">
                            <div class="icon-wrapper">
                                <img src="{{ url_for('static',filename='icons/reader.png') }}" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon-block">
                            <div class="icon-wrapper">
                                <img src="{{ url_for('static',filename='icons/user.png') }}" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    
</body>
</html>